body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;

}
header{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;   /* 👈 THIS is the important line */
    padding: 1rem 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


nav a {
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.05em;
    text-decoration: none;
  }

.nav-list{
    list-style-type: none;
    padding: 0.75rem;
    margin: 0;
    display: flex;
    background-color: white;
    font-size: 1.25rem;
    gap: 4rem;
    justify-content: center;
    
}

.nav-list li a {
    text-decoration: none;
    color: #23407c;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #contact{
    color: #ed1b26;
}
#contact:hover {
    color: #700e11;
}
.nav-list li a:hover {
    color: #091024;
  }

.logo{
    height: 6rem;
    width: auto;
    padding: 0;
    margin: 0;
  }

/* @media (max-width: 48rem) {
    .nav-list {
      flex-direction: column;
    }
  } --> *\
  