body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;

}
header{
    padding: 0;
    margin: 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


nav a {
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.05em;
    text-decoration: none;
  }

.nav-list{
    list-style-type: none;
    padding: 0.75rem;
    margin: 0;
    display: flex;
    background-color: white;
    font-size: 1.25rem;
    gap: 4rem;
    justify-content: flex-end;
}

.nav-list a {
  display: inline-block;
  padding: 0.45rem 0.85rem;
  line-height: 1.1;
  border-radius: 8px;
  
}


.nav-list li a {
    text-decoration: none;
    color: #23407c;
    padding: 0.6rem 0.9rem;
    border-radius: 8px;
  }
  #contact {
  color: #ed1b26;
  padding: 0.5rem 0.9rem;
  border: 1px solid #ed1b26;
  border-radius: 999px;
}

  #contact:hover {
  background: #ed1b26;
  color: white;
}

.nav-list li a:hover {
    background: #f2f2f2;
  }

.nav-list a.active {
  border-bottom: 2px solid #23407c;
  padding-bottom: 0.4rem;
}

.logo{
    height: 5rem;
    width: auto;
    padding: 0;
    margin: 0;
  }

  .header-divider {
    border: none;
    background-color: #e5e5e5; /* light neutral */
    margin: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 2rem;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #ffffff; /* keep white */
  border-bottom: 1px solid #e5e5e5;
}

.top-left {
  display: flex;
  gap: 1rem;
  align-items: center;
}



.top-right {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

/* Top bar links */
.top-bar a {
  color: #1f3a6d; /* same family as nav text */
  text-decoration: none;
}

.top-bar a:hover {
  text-decoration: underline;
}

/* Social icons */
.top-bar .socials {
  height: 1rem;
  width: auto;
  display: block;
  opacity: 0.85;
}

.top-bar .socials:hover {
  opacity: 1;
}

.top-bar .info {
  height: 1rem;
  width: auto;
  display: block;
  opacity: 0.85;
}
.top-bar .info:hover {
  opacity: 1;
}

.info-text {
  font-family: 'Inter', sans-serif;
  color: #12213f;
}



/* @media (max-width: 48rem) {
    .nav-list {
      flex-direction: column;
    }
  } --> *\
  