body{
    font-size: 16px;
    padding: 0;
    margin: 0;

}
header{
    padding: 0;
    margin: 0;
}



.top-bar{
    background-color: white;
    font-size: 1rem;
    color: red;
    text-align: center;
    padding: 1.5rem;
    margin: 0;
}

.nav-list{
    list-style-type: none;
    padding: 0.75rem;
    margin: 0;
    display: flex;
    background-color: #23407c;
    border: #162e5e 1px solid;
    font-size: 1.25rem;
    gap: 4rem;
    justify-content: center;
    
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

.nav-list li a:hover {
    color: #ffcb06;
  }

.logo{
    height: 5rem;
    width: auto;
    padding: 0;
    margin: 0;
  }

/* @media (max-width: 48rem) {
    .nav-list {
      flex-direction: column;
    }
  } --> *\
  